@{
    ViewData["Title"] = "Регистрация выполнена";
}
<h2><span style="color:#000000	"><strong>Поздравляем, регистрация прошла успешно!</strong></span></h2>
<p />Пожалуйста, вернитесь на главную страницу и войдите на сайт или продолжайте любоваться котиком. 
<p/>
<img src="~/img/cute_kotik_for_register.png" alt="cute_image" />
