@model Login
@{
    ViewData["Title"] = "Вход в аккаунт";
}

<head>
    <link rel="stylesheet" href="~/css/log&reg.css" asp-append-version="true" />
</head>

<form method="post" autocomplete="off" asp-controller="Login" asp-action="">

    <div class="container">
        <h1>Вход в аккаунт</h1>
        <p>Пожалуйста, введите данные, чтобы войти в аккаунт.</p>
        <hr>

        <label asp-for="Email"><b>Электронная почта:</b></label>
        <input type="text" placeholder="Введите вашу электронную почту" asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password"><b>Пароль:</b></label>
        <input type="password" placeholder="Введите пароль" asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <hr>
        <button class="btn" type="submit"><b>Войти в аккаунт</b></button>
    </div>

    <div class="container in">
        <p>Еще нету аккаунта? <a href="/register/registration">Зарегистрировать</a>.</p>
    </div>

</form>