@{
    ViewData["Title"] = "О магазине";
}
<h1>О МАГАЗИНЕ</h1>
<div>
    <p>Наш магазин мягких игрушек появился на нашей планете очень давно, еще мой дед основал эту компанию.<br/>Тут важно упомянуть, что ..</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>Вот такая длинная история у этого маленького, но такого уютного магазина</p>
</div>