@{
    ViewData["Title"] = "О МАГАЗИНЕ";
}

<div class="about">
    <h2>@ViewData["Title"]</h2>
    <p/>
    <p>Наш магазин мягких игрушек появился на нашей планете очень давно, еще мой дед основал эту компанию.<br />Тут важно упомянуть, что ..</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>Вот такая длинная история у этого маленького, но такого уютного магазина</p>
</div>