@{
    ViewData["Title"] = "О МАГАЗИНЕ";
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr class="border-0" />
    <div class="m-4">
        <h4>
            Добро пожаловать в "Кошачий рай" – ваш идеальный выбор для заботы о ваших пушистых друзьях! Мы - команда настоящих ценителей животных, предлагающая самый широкий ассортимент товаров для котов и собак.
        </h4>
        <hr class="border-0" />
        <h4>
            В "Кошачий рай" мы собрали лучшие продукты, игрушки и аксессуары для ваших любимцев, чтобы сделать их жизнь более яркой и удовлетворительной. Наша миссия – предоставить вам не просто товары, а заботу и внимание к вашим домашним любимцам.
        </h4>
        <hr class="border-0" />
        <h4>
            Мы гордимся тем, что работаем только с проверенными поставщиками, предлагая высококачественные товары по доступным ценам. В "Кошачий рай" вы найдете всё – от изысканных кормов и стильных одежды до уютных мест для отдыха и трендовых аксессуаров.
        </h4>
        <hr class="border-0" />
        <h4>
            Наша команда экспертов всегда готова поделиться с вами советами по уходу и воспитанию ваших домашних питомцев. У нас есть все необходимое для того, чтобы сделать жизнь ваших котов и собак невероятно счастливой.
        </h4>
        <hr class="border-0" />
        <h4>
            "Кошачий рай" – это не просто магазин, а место, где мы разделяем вашу любовь к животным и стремимся сделать вашу жизнь вместе с ними более насыщенной и радостной. Добро пожаловать в наш мир, где вашим пушистым друзьям предназначено настоящее королевство радости и уюта!
        </h4>
    </div>
</div>