@{
    ViewData["Title"] = "Главная";
}

<div class="catalog">
    <details>
        <summary><h3><strong>Меню</strong></h3></summary>
        <ul>
            <li><a href="/catalog/Food_For_Cat">Корм</a></li>
            <li>Игрушки</li>
            <li>Лотки</li>
            <li>Домики</li>
        </ul>
    </details>
</div>
