@{
    ViewData["Title"] = "Главная";
}

<div>
    <h2></h2><p />
    <details>
        <summary style="margin-left:2%;"><h3><strong>Меню</strong></h3></summary>
        <ul style="margin-left: 2%; list-style-type:none">
            <li><a href="/menu/Food_For_Cat">Корм</a></li>
            <li>Игрушки</li>
            <li>Лотки</li>
            <li>Домики</li>
        </ul>
    </details>
</div>
