* {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 60px 60px;
    margin: 0 0 60px;
    background: #fdc180;
}

li a {
    position: relative;
    color: black;
    text-decoration: none;
}

    li a:visited {
        color: black;
    }

    li a:after {
        color: black;
        content: '';
        position: sticky;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 50px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    li a:hover:after {
        color: black;
        transform: scaleX(1);
        transform-origin: bottom left;
    }


body {
    background: #FDF5E6;
}

.container-fluid {
    background: #fdc180;
}

button {
    font-family: 'Oswald', sans-serif;
}
