<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Кошачий рай</title>
    <meta name="description" content="Самый уютный магазин">
    <meta name="author" content="Gladkov Eduard">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap">
</head>

<body>
    <header>
        <div class="logo">
            <h1><a href="/"><img src="~/img/Cats_Heaven.png"></a></h1>
        </div>
        <ul class="header_menu">
            <li>
                <a href="/home/about"><h1>О НАС</h1></a>
            </li>
            <li>
                <partial name="_LoginPartial.cshtml" />
            </li>
        </ul>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <center>Никакие права не защищены :(</center>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
