@using Microsoft.AspNetCore.Identity
@using StoreMVC.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav text-right">
    <li class="nav-item">
        <a class="nav-link" href="/Cart/GetUserCart">
            <span id="cartCount" class="badge text-bg-light">0</span>
            <i class="bi bi-bag text-white"></i>
        </a>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link" id="manage" href="#"> <span id="username">@User.Identity?.Name.ToUpper()</span></a>
            }
            else
            {
                <a class="nav-link" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">ПРОФИЛЬ</a>
            }
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" class="btn btn-lg btn-primary nav-link btn-link border-0" type="submit">ВЫЙТИ</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">ЛОГИН</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">РЕГИСТРАЦИЯ</a>
        </li>
    }
</ul>