@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div style="text-align: center"><h3>@ViewData["Title"]</h3></div>
<br/>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <p/>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Старый пароль" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <p />
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Новый пароль" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <p />
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Повторите новый пароль"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <button type="submit" class="w-100 btn btn-lg" style="color: black; background-color:sandybrown">Обновить пароль</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
