@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

@* <head>
    <link rel="stylesheet" href="~/css/log&reg.css" asp-append-version="true" />
</head>
 *@
<section>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
        <div class="container">
            <h1>@ViewData["Title"]</h1>
            <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
            <hr />

            <div asp-validation-summary="ModelOnly" role="alert"></div>

            <label asp-for="Input.FirstName"><b>Имя:</b></label>
            <input type="text" asp-for="Input.FirstName" aria-required="true" placeholder="Имя" />

            <label asp-for="Input.LastName"><b>Фамилия:</b></label>
            <input type="text" asp-for="Input.LastName" aria-required="true" placeholder="Фамилия" />

            <label asp-for="Input.Email"><b>Email:</b></label>
            <input type="text" asp-for="Input.Email" autocomplete="off" aria-required="true" placeholder="Name@example.com" />
            <span asp-validation-for="Input.Email"></span>

            <label asp-for="Input.Password"><b>Пароль:</b></label>
            <input type="password" asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Введите пароль" />
            <span asp-validation-for="Input.Password"></span>

            <label asp-for="Input.ConfirmPassword"><b>Подтверждение пароля:</b></label>
            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Повторите пароль" />
            <span asp-validation-for="Input.ConfirmPassword"></span>

            <button id="registerSubmit" type="submit" class="btn"><b>Зарегистрироваться</b></button>
        </div>

        <div class="container in">
            <p>
                Уже есть аккаунт? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"><b>Войти</b></a>
            </p>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
